#include "base/base.config"
#include "chips/rk3506_arm.config"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
# BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV is not set
BR2_SYSTEM_BIN_SH_BUSYBOX=y
# BR2_SYSTEM_BIN_SH_BASH is not set
# BR2_PACKAGE_BASH is not set
# Audio is intentionally disabled on the EtherCAT controller image.
#include "gui/lvgl/lvgl_drm.config"
#include "gui/lvgl/motor_demo.config"
# BR2_PACKAGE_BRIDGE_UTILS is not set
# BR2_PACKAGE_CHRONY is reset to default
# BR2_PACKAGE_DNSMASQ is reset to default
# BR2_PACKAGE_DROPBEAR is reset to default
# BR2_PACKAGE_EVTEST is not set
# BR2_PACKAGE_EUDEV is not set
# BR2_PACKAGE_EUDEV_ENABLE_HWDB is not set
# BR2_PACKAGE_GDB is not set
# BR2_PACKAGE_GDB_DEBUGGER is not set
# BR2_PACKAGE_GDB_SERVER is not set
# BR2_PACKAGE_IPERF3 is not set
# BR2_PACKAGE_IPTABLES is not set
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BZIP2=y
# BR2_PACKAGE_ETHTOOL is not set
# BR2_PACKAGE_ETHTOOL_PRETTY_PRINT is not set
BR2_PACKAGE_KMOD=y
BR2_PACKAGE_KMOD_TOOLS=y
# BR2_PACKAGE_LIBCAP is not set
# BR2_PACKAGE_LIBGPIOD is not set
# BR2_PACKAGE_LIBGPIOD_TOOLS is not set
# BR2_PACKAGE_MHZ is not set
# BR2_PACKAGE_MOSQUITTO is not set
# BR2_PACKAGE_MTD is not set
# BR2_PACKAGE_NTP is not set
# BR2_PACKAGE_NTP_NTPDATE is not set
# BR2_PACKAGE_OPENSSH is not set
# BR2_PACKAGE_PAHO_MQTT_CPP is not set
# BR2_PACKAGE_PCRE2_32 is not set
# BR2_PACKAGE_PULSEAUDIO is reset to default
# BR2_PACKAGE_QT5 is not set
# BR2_PACKAGE_RECOVERY is not set
# BR2_PACKAGE_RECOVERY_NO_UI is not set
# BR2_PACKAGE_RECOVERY_USE_UPDATEENGINE is not set
# BR2_PACKAGE_RECOVERY_UPDATEENGINEBIN is not set
# BR2_PACKAGE_RIPGREP is not set
# BR2_PACKAGE_ROCKCHIP_RGA is not set
# BR2_PREFER_ROCKCHIP_RGA is not set
# BR2_PACKAGE_ROCKCHIP_TEST is not set
# BR2_PACKAGE_RT_TESTS is not set
# BR2_PACKAGE_STRESS is not set
# BR2_PACKAGE_STRESSAPPTEST is not set
# BR2_PACKAGE_CAN_UTILS is not set
# BR2_PACKAGE_USBUTILS is not set
# BR2_PACKAGE_USBMOUNT is not set
# BR2_PACKAGE_ALSA_LIB is not set
# BR2_PACKAGE_ALSA_UTILS is not set
# BR2_PACKAGE_ALSA_UCM_CONF is not set
# BR2_PACKAGE_E2FSPROGS is not set
# BR2_PACKAGE_E2FSPROGS_FSCK is not set
# BR2_PACKAGE_E2FSPROGS_RESIZE2FS is not set
# BR2_PACKAGE_FONTCONFIG is not set
# BR2_PACKAGE_LIBCURL is not set
# BR2_PACKAGE_NCURSES is not set
# BR2_PACKAGE_OPENSSL is not set
# BR2_PACKAGE_PULSEAUDIO is not set
# BR2_PACKAGE_PULSEAUDIO_DAEMON is not set
# BR2_PACKAGE_READLINE is not set
# BR2_PACKAGE_ROCKCHIP_ALSA_CONFIG is not set
# BR2_ROCKCHIP_ALSA_CONFIG_INSTALL_INIT_SCRIPT is not set
BR2_ROOTFS_OVERLAY+="board/rockchip/rk3506/fast-display-overlay/"
BR2_ROOTFS_POST_BUILD_SCRIPT+="board/rockchip/rk3506/post-build-fast-display.sh"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_TARGET_LOCALTIME="Asia/Shanghai"
BR2_TARGET_ROOTFS_SQUASHFS4_ZSTD=y
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1F000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=1024
BR2_TARGET_ROOTFS_UBIFS_OPTS="-F -v"
BR2_TARGET_ROOTFS_UBI_SUBSIZE=2048
